*.py[cod]
__pycache__/
.vscode/
cache/
charts/
env/
grafiken/
img/
output/

# ignore random output notes
# *_out.txt
out_*

# ignore random test files
test_*

# ignore files marked to be deleted
del_*
